
@{
}
<h1 class="display-4"><b>наши работы</b></h1>
<div class="foto" id="foto">
    <br /><img width="450" height="350" src="https://pr1.zoon.ru/pCuOzDCWj6AH0ny7nQjjRQ/1500x1000,q85/4px-BW84_n2rMKrJxPHZeZUFO1iUZk3GatolgTYmVl3FcfwGkzFc4RUcaDiWJa22ghd0hQgd7oqTg96Pdpo9zA==" alt="1" />
    <br />
    <br /><img width="450" height="350" src="https://pr1.zoon.ru/LAy5_0i2bVlfwXh0vAh25A/1500x1000,q85/4px-BW84_n2rMKrJxPHZeZUFO1iUZk3GwVNz14Aa6l_jgz2dBGSLpzp0wIgn1hUjZoRBAitpWhpb-wDJUgdp9A==" alt="2" />
    <br />
    <br /><img width="450" height="350" src="https://pr0.zoon.ru/dNMBV4i0PCovy2O_liI5xA/1500x1000,q85/4px-BW84_n2rMKrJxPHZeZUFO1iUZk3GatolgTYmVl3FcfwGkzFc4YKFbWM3MD9yunP4c_2hoOclKNtUj5K5eA==" alt="3" />
    <br />
    <br /><img width="450" height="350" src="https://pr1.zoon.ru/shX-AEcinoaVycvlkANOIA/1500x1000,q85/4px-BW84_n2rMKrJxPHZeZUFO1iUZk3GLSPhRJOyAD6UArgdsqy2prUeAO7UJ7gsbDSd7n3XNjj-j8Na0mxJnA==" alt="4" />
    <br />
    <br /><img width="450" height="350" src="https://pr0.zoon.ru/6-IS1R6xjWBKuu69bsuqqQ/1500x1000,q85/4px-BW84_n2rMKrJxPHZeZUFO1iUZk3GatolgTYmVl3FcfwGkzFc4VNGbl1-fho4iplBvBbBFblWWKUfEgMQ6g==" alt="5" />
    <br />
    <br /><img src="https://sun9-10.userapi.com/s/v1/ig2/_C8nBCf8i-6gUWbtkBKW0LGetJQPkFKN6pnKjVQ_gqgGmha-yqsSdCprMVXOBeElOR11socxaKT33IlYGksG3YrZ.jpg?size=200x200&quality=96&crop=0,0,200,200&ava=1" alt="" />

</div>