@{
    ViewData["Title"] = "";
}

<head>
    <link rel=" stylesheet" href="~/css/style.css" />
</head>
<div class="text-center" >
    <h1 class="display-4"><b>Добро пожаловать</b></h1>
    <p>В Танировочный центр "Черное солнце"</p>
    <p>
        <b>Тонирование Автомобилей, БЕЗ РАЗБОРА обивок дверей и элементов салона.</b>
        <br />Наверное, каждый автомобилист хоть раз задумывался о затемнении стекол. И это совсем не удивительно, ведь даже слегка затемненные окна придают машине дополнительные стиль и шарм, не говоря уже о других достоинствах тонировочной пленки. Обратившись в автосервис, вы непременно встанете перед выбором, какую тонировку делать — частичную или полную, стандартную или обладающую дополнительными качествами. В нашем автоцентре вам обязательно помогут определиться, расскажут о свойствах и различиях тонировочных пленок, а также предложат профессиональные услуги тонирования по доступным ценам.
    </p>

    <p><font size="4"><big>Почему мы?</big></font></p>





    <p>Если вам нужно <strong>качественная тонировка вашей машины</strong>, обращайтесь к нам. Мы сделаем все шикарно</p>
</div>
<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 services__item">
        <div class="box wow">
            <div class="middle title-description-price">
                <div class="title-description-info">
                    <span class="h4 title-description-price__header">Тонировка стекол автомобиля</span>
                    <div class="description"><strong>"Черное солнце"</strong>когда слышишь это словосочетание на ум сразу же приходит качественная пленка и прекрасная работа мастеров, стоимость тонировки оправдывает качество и проделанную работу. Создайте комфортную для себя обстановку в машине по лучшей стоимости в дучшем городе на земле.</div>
                </div>
                <div class="icon-price">от 1500р</div>
            </div>
            <img class="lazyload"
                 data-src="http://tonirovka27.ru/wp-content/uploads/sites/27/2020/04/tonir-block.jpg"
                 src="http://tonirovka27.ru/wp-content/uploads/sites/27/2020/04/tonir-block-29x40.jpg" alt="">
        </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12 services__item">
        <div class="box wow">
            <div class="middle title-description-price">
                <div class="title-description-info">
                    <span class="h4 title-description-price__header">Растонировка стекол автомобиля</span>
                    <div class="description">В другом салоне плохо затанировали авто? "Черное солнце" поможет! растонировка стекол проводится только качественным и современным оборудованием, не оставляющего царапин на стекле вашего авто.</div>
                </div>
                <div class="icon-price">от 500р</div>
            </div>
            <img class="lazyload"
                 data-src="http://tonirovka27.ru/wp-content/uploads/sites/27/2020/04/rastonir-block.jpg"
                 src="http://tonirovka27.ru/wp-content/uploads/sites/27/2020/04/rastonir-block-34x40.jpg" alt="">
        </div>
    </div>
  
    <div class="col-lg-4 col-md-6 col-sm-12 services__item">     
            <div class="middle title-description-price">
                <div class="title-description-info">
                    <span class="h4 title-description-price__header">Бронирование автомобиля пленкой</span>
                    <div class="description">Защити автомобиль от царапин и сколов на кузове. С помощью такой вещи, как бронирование, наша команда сделает ваш автомобиль защищенным.</div>
                </div>
                <div class="icon-price">от 2000р</div>
                <h1 class="nav-item">
                    <a class="nav-link text-black" asp-area="" asp-controller="Home" asp-action="Price"><b><font size="2">Подробнее</font></b></a>
                </h1>
            </div>
            <img class="lazyload"
                 data-src="http://tonirovka27.ru/wp-content/uploads/sites/27/2020/04/bron-block.jpg"
                 src="http://tonirovka27.ru/wp-content/uploads/sites/27/2020/04/bron-block-30x40.jpg" alt="">
    </div>
</div>


<div style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps/org/chernoye_solntse/65621015556/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Черное Солнце</a><a href="https://yandex.ru/maps/55/tyumen/category/window_tinting/184105258/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:14px;">Тонирование стёкол в Тюмени</a><iframe src="https://yandex.ru/map-widget/v1/-/CCU64GDrxA" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
          

<p>
    <address>
        контакты для связи: <a href="+79097389697">Станислав Николаевич</a><br />
        Официальный сайт: <a href="http://example.com" target="_blank" rel="noopener noreferrer">Example.com</a><br />
        Адрес: ул. Земляной Вал, 77, Тюмень
    </address>
</p>

